body {
  margin: 0;
  font-family: "Josefin sans", sans-serif;
  text-align: center;
  background-image: url(./fond_halloween.jpg);
  background-size: cover;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Creepster", system-ui;
}

/* HEADER  */
header {
  position: relative;
  height: 3rem;
}

#accueil,
#html-css,
#javascript {
  position: absolute;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    180deg,
    rgba(255, 167, 38, 1) 30%,
    rgba(255, 195, 112, 1) 70%,
    rgba(255, 224, 178, 1) 100%
  );
  filter: drop-shadow(0 0 1rem black);
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
  font-size: 28px;
  border: 0px;
  border-radius: 12px;
  margin-top: 10px;
}

#accueil:hover,
#html-css:hover,
#javascript:hover {
  background: rgb(255, 153, 0);
}

#accueil {
  left: 40px;
}
#html-css {
  right: 230px;
}

#javascript {
  right: 40px;
}

/* TITRE */
h1,
h2 {
  filter: drop-shadow(0px 12px 19px #f7f2f2);
}

h1 {
  font-size: 4rem;
  margin: 65px 0 0px 0;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 2rem;
  margin: 80px 0 50px 0;
  filter: drop-shadow(0px 14px 15px #000000);
}

/* SECTION 1 */
#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation p {
  font-size: 18px;
  line-height: 25px;
  max-width: 70ch;
}

/* SECTION 2 */ /* SECTION 3 */
#comp-container,
#loisirs-container {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  margin: 0px;
  text-align: justify;
  justify-content: center;
}

.element1 {
  font-size: 18px;
  line-height: 25px;
}

.element2 {
  font-size: 18px;
  line-height: 25px;
}

/* PAGE HTML CSS */
/* FLEX */
.container {
  padding: 0 150px;
}

.container-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 690px;
  background: #432d0554;
  padding: 10px;
  border-radius: 5px;
}

.container-second {
  display: flex;
  justify-content: center;
}

#flex-1440,
#flex-1024 {
  width: 48%;
}

#flex-1440 {
  padding-right: 25px;
}

#flex-1024 {
  padding-left: 25px;
}

#flex-html {
  width: 75%;
  height: 220px;
  padding-right: 15px;
}

#flex-css {
  width: 23%;
  height: 220px;
  padding-left: 15px;
}

.enonce {
  margin: 100px 0 15px 0;
}
.container p,
.enonce {
  width: 44%;
  font-size: 18px;
  max-width: 50ch;
  text-align: justify;
  background: #d07000;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px 25px;
}

/* GRID */

.grid-container-second {
  display: flex;
  justify-content: space-between;
}

#grid-result,
#grid-html {
  width: 45%;
  height: 400px;
}

#grid-result {
  padding-right: 25px;
}

#grid-html {
  padding-left: 25px;
}

#grid-css1,
#grid-css2 {
  width: 20%;
  height: 260px;
}

#grid-css1 {
  padding-left: 150px;
}

#grid-css2 {
  padding-right: 150px;
}

/* RESPONSIVE */
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  background: #432d0554;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 3rem;
}

#base-apparel {
  text-decoration: none;
  font-family: "Creepster", system-ui;
  color: black;
  font-size: 28px;
  letter-spacing: 2px;
}

#base-apparel:hover {
  color: #ba690d;
  font-size: 34px;
}

/* JAVASCRIPT  */
/* FONCTIONS */ /* CONDITIONS */

.javascript-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 350px;
  background: #432d0554;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-around;
}

.javascript-container p {
  line-height: 33px;
  height: 300px;
  background: #fca642;
}

#fonction-1,
#fonction-2-img,
#condition-1 {
  width: 35%;
  height: 350px;
}

#fonction-2-container {
  height: 590px;
  align-items: center;
}
#fonction-2-p {
  width: 40%;
  height: 530px;
}

#condition-container {
  margin-bottom: 3rem;
}
